*{
    margin: 0;
    padding: 0;
}
.flexbox-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    background-color: coral;
}

.link{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.l{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 300px;
    background-color: brown;
}

.border{
    border: 2px solid black;
}

.flexbox1 {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.flexbox2 {
    /* display: flex; */
    /* min-height: 400px; */
}

.box .flexbox1 {
    display: flex;
}

.g{
    border-width: 200px;
    /* margin: 10px; */
    border: 2px solid black;
    /* flex-grow: 1; */
}
.panel1{
    min-height: 100px;
    padding: 5px;
    /*border: 2px solid black;*/
}
.panel2{
    min-height: 100px;
    /* padding: 5px; */
}
.panel3{
    min-height: 100px;
    padding: 5px;
}
/* h4 {
    padding: 10px;
}

p{
    padding: 10px;
}

ul {
    list-style-type: circle;
    padding-left: 40px;
} */
